/*.dSYM/
/tube*/*
/plots/
/gnuplot_scripts/
/param_tube/
*.out
*.eps
*.o
*.mod
tube*
!tube.param.105
*~
*.gp
*.png
*.txt
*.csv
*.pdf
*.log
*.input
*.output

# eclipse project file
.settings/
.classpath
.project
.cproject

# OS
.DS_Store

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class