/160/*
/1010/*
/227/*
/228/*
*.out
*.eps
*.o
*.mod
tube*
*~
*.gp
*.png
*.txt
*.pdf
*.log

# eclipse project file
.settings/
.classpath
.project
.cproject

# OS
.DS_Store

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class